﻿<table style="width:100%">
    <tr>
        <th>FileName</th>
        <th>DateTime</th>
        <th>Duration (s)</th>
        <th>Download</th>
    </tr>
    <tr *ngFor="let record of data| async">
        <td>{{record.FileName}}</td>
        <td>{{record.Time | date}}</td>
        <td>{{record.Duration}}</td>
        <td><a href="{{record.Path}}" download>Click here</a></td>
    </tr>
</table>